body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}

.heading {
  padding: 25px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.post-list {
  padding: 10px;
}

.post {
  padding: 10px;
}

.post-heading {
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
}

.header-text {
  float: left;
  font-size: 24px;
}
.date {
  float: right;
  font-size: 16px;
  color: #1f1f1f;
}

.post-text {
  padding: 10px;
  font-size: 16px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.creator {
  text-align: center;
  font-size: 20px;
}

.current {
  font-weight: bolder;
}

.login {
  width: 400px;
  margin-top: 100px;
}

.links {

}

.link {
  color: black;
  padding: 10px;
  padding-top: 0px;
  font-size: 16px;
  display: inline;
}

.data-content {
  width: 1600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}